
<p>Welcome <%= session[:player_name] %>.</p>
<div class="well">
<p><%= session[:player_name]%>'s card:</p>
	<% session[:player_cards].each do |card|%>
		<%= card_image(card)%>
	<% end %>
</div>
<%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>

<div class="well"
<p>Dealer's card</p>
	<% session[:dealer_cards].each do |card|%>
		<%= card_image(card)%>
<% end %>
</div>

	<form id="hit_form" action="game/player/hit" method='post'>
		<input type="button" class="btn btn-success" value="Hit" />
	</form>
	<form id="hit_form" action="game/player/stay" method='post'>
		<input type="button" class="btn btn-warning" value="Stay" />
	</form>

What would <%= session[:player_name] %> like to do?
<%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>